.chat-container {
	border-radius: 2rem;
	border: 1px solid black;
	display: grid;
	align-content: end;
	place-items: center;
	height: 90%;
	width: 35rem;
	row-gap: 3rem;
	padding: 2rem;
	margin-top: 2rem;
	position: relative;
}

.message-list-container {
	grid-template-rows: repeat(auto-fit, minmax(max-content, 2rem));
	overflow-y: auto;
	display: grid;
	row-gap: 0.5rem;
	width: 100%;
	height: 34rem;
}

.bot-message {
	border-radius: 0.5rem;
	border: 1px solid rgb(43, 151, 214);
	background-color: rgb(123, 213, 216);
	color: white;
	justify-self: start;
	max-width: 20rem;
	text-align: start;
	padding: 0.5rem;
	height: fit-content;
}

.user-message {
	border-radius: 0.5rem;
	border: 1px solid rgb(61, 150, 50);
	background-color: rgb(105, 211, 91);
	color: white;
	justify-self: end;
	max-width: 20rem;
	text-align: start;
	padding: 0.5rem;
	height: fit-content;
}

.message-input {
	margin: 0 1rem;
	width: 15rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.messenger-title {
	position: absolute;
	top: 0;
	font-weight: bold;
	background-color: white;
	padding: 0.25rem 0;
}

.send-btn {
	padding: 0.5rem;
	cursor: pointer;
}

input[type="submit"]:disabled {
	cursor: not-allowed;
}

.empty-list-text {
	margin-top: 15rem;
}
